{% extends 'base.html'%}
{% block content %}
    <div class="data-entries-box">
        <div class="entries">
            <div>
                {% if entries_on_page.items %}
                    <h1>All {{ entries_on_page.items[0].name}} entries</h1>
                {% else %}
                    <h1>All entries</h1>
                {% endif %}
            </div>
            {% if entries_on_page.items %}

                {% for entry in entries_on_page.items %}

                    <div class="entry-box">
                        <div class="entry-info">
                            <div class="entry-info-value"><img src="{{url_for('static', filename='img/coins/'+ entry.name +'.png')}}"></div>
                            <div class="entry-info-value">{{ entry.name }}</div>
                            <div class="entry-info-value">Price: {{ round(entry.price, 3) }}$</div>
                            <div class="entry-info-value">{{ entry.amount_of_dollars }}$</div>
                        </div>
                        <div class="tool-entry-box">
                            <a href="{{ url_for('entries.delete_entry', entry_id=entry.id) }}"><div class="tool-entry entry-delete">Delete</div></a>
                            <a href="{{ url_for('entries.edit_entry', entry_id=entry.id) }}"><div class="tool-entry entry-edit">Edit</div></a>
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <div class="entry-box">
                    <div class="entry-info">
                        <div class="entry-info-value">There is no entry yet</div>
                    </div>
                </div>
            {% endif %}
                <div class="entries_buttons">
                    <div><a class="back-to-tracking" href={{url_for('entries.tracking')}}>Back</a></div>
                    <div><a class="back-to-tracking for-add" href="{{ url_for('entries.add_entry', currency_name=currency_name)}}">Add entry</a></div>
                    <div class="page-box v2">
                    {% for page_num in entries_on_page.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                        {% if page_num %}
                            <a class="btn-page" href="{{ url_for('entries.tracking', page=page_num) }}">{{page_num}}</a>
                        {% else %}
                            <span class="btn-dotdot">...</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="statistics">
            <h2 class="h2-tracking">Statistics</h2>
            {% if total_invest %}
                    <div class="statistics-info">Total investment: {{ total_invest }}$</div>

                {% if total_invest > total_profit %}
                    <div class="statistics-info decrease">Current balance: {{ total_profit }}$</div>

                    <div class="statistics-info decrease">Profit: {{ round(total_profit / total_invest * 100 - 100, 3) }}%</div>
                {% else %}
                    <div class="statistics-info increase">Current balance: {{ total_profit }}$</div>

                    <div class="statistics-info increase">Profit: {{ round(total_profit / total_invest * 100 - 100, 3) }}%</div>
                {% endif %}
            {% endif %}
            <div class="statistics-info" >Current {{currency_name}} price: {{get_price(currency_name)}}</div>
        </div>

    </div>
{% endblock %}