{% extends 'base.html'%}
{% block content %}
    <h1><a href="projects">CRYPTO</a></h1>
    <section class="about_main">
        <div class="introducing intro1">Cryptocurrencies are a
            new and rapidly developing world.
            Our company offers you balance
            tracking and portfolio analysis
        </div>
        <div class="introducing_photo intro2">
            <img src={{url_for('static', filename="img/logos/08409510_XL.jpg")}}>
        </div>
        <div class="introducing intro3">
            With the help of our application,
            you will be able to see and track the growth
            of your crypto capital in real time.
        </div>
        <h2><a href="login">Join in!</a></h2>

    </section>
{% endblock %}

